USE [school]
GO
/****** Object:  Table [dbo].[students]    Script Date: 29/01/2026 08:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](150) NULL,
	[gender] [nvarchar](10) NULL,
	[age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [email], [gender], [age]) VALUES (1, N'Nguyễn Văn An', N'an.nguyen01@gmail.com', N'Nam', 20)
INSERT [dbo].[students] ([id], [name], [email], [gender], [age]) VALUES (2, N'Trần Thị Bình', N'binh.tran02@gmail.com', N'Nữ', 19)
INSERT [dbo].[students] ([id], [name], [email], [gender], [age]) VALUES (3, N'Lê Văn Cường', N'cuong.le03@gmail.com', N'Nam', 20)
SET IDENTITY_INSERT [dbo].[students] OFF
GO
